name: Android CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Warm up
        run: ./gradlew help --no-daemon
        
      - name: Assemble Debug
        run: ./gradlew assembleDebug --stacktrace --no-daemon
        
      - name: Run Unit Tests
        run: ./gradlew testDebugUnitTest --stacktrace --no-daemon
